
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  position: relative;
  overflow: hidden;
}

/* Blob positioning */
.intro-blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-name {
  position: absolute;
  transform: translate(-52%, -50%); /* tweak X here */
  color: white;
  font-size: clamp(3rem, 8vw, 6rem);
  text-align: center;
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  pointer-events: none;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
